<app-header></app-header> 
    <br>
    <section class="card-log">
        <div class="log-total">
            <div class="log-lado-izquierdo">
                <img src="assets/img/logo.jpg" alt="Juego" class="card-img">
            </div>
            <div class="log-lado-derecho">
                <h3 class="h3-title-log">Register</h3>
                <form>
                    <div class="log-form-group">
                        <input type="text" id="usuario_nombrecompleto" name="usuario_nombrecompleto" required>
                        <label for="usuario_nombrecompleto">Nombres</label>
                    </div>

                    <div class="log-form-group">
                        <input type="text" id="usuario_apellidocompleto" name="usuario_apellidocompleto" required>
                        <label for="usuario_apellidocompleto">Apellidos</label>
                    </div>
            
                    <div class="log-form-group">
                        <input type="text" id="usuario_username" name="usuario_username" required>
                        <label for="usuario_username">Username</label>
                    </div>
            
                    <div class="log-form-group">
                        <input type="text" id="usuario_email" name="usuario_email" required>
                        <label for="usuario_email">Email</label>
                    </div>
            
                    <div class="log-form-group">
                        <input type="text" id="usuario_celular" name="usuario_celular" required>
                        <label for="usuario_celular">Celular</label>
                    </div>

                    <div class="log-form-group">
                        <input type="tel" id="usuario_password" name="usuario_password" required>
                        <label for="usuario_password">Contraseña</label>
                    </div>
                    <div class="log-form-group">
                        <input type="tel" id="usuario_repeat_password" name="usuario_repeat_password" required>
                        <label for="usuario_repeat_password">Confirme la contraseña</label>
                    </div>
            
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </section>
<app-footer></app-footer>


