.footer {
    background: linear-gradient(to right, rgb(73, 20, 196), rgb(30, 139, 153));
    position: fixed;  /* Fija el footer */
    bottom: 0;        /* Lo posiciona en la parte inferior */
    left: 0;
    width: 100%;      /* Ocupa todo el ancho de la pantalla */
 
    .sec-footer {
        display: flex;
        justify-content: space-around;
        color: white;
        text-align: center;
        padding-bottom: 60px;
    }
    
  }
 