<footer class="footer">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
   <section class="sec-footer">
        <div class="div-p">
            <h2>Dirección</h2>
            <p>Calle 23 A # 55 - 45</p> 
            <p>Cali, Valle del Cauca C.P. 12345</p>
        </div>
        <div class="div-p">
            <h2>Correo electrónico</h2>
            <p>{{ email }}</p>
        </div>
        <div class="div-p">
            <h2>Teléfono</h2>
            <p>(57) 31273834950</p> 
        </div>
   </section>
   <section class="sec-social">
    <div class="social-icons">
        <a href="https://www.instagram.com/games/" target="_blank" class="social-icon">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/games/" target="_blank" class="social-icon">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com/games/" target="_blank" class="social-icon">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
   </section>
   
</footer>