<header class="header">
    <nav>
        <img class="brand-logo" src="assets/img/logo2.png" alt="Logo">
        <img class="brand-logo" src="assets/img/logo_name.png" alt="Logo">
        <section class="sec-list">
            <button class="but-list"><a routerLink="/" class="link">Sobre Nosotros</a></button>
            <button class="but-list"><a routerLink="/servicios" class="link">Servicios</a></button>
            <button class="but-list"><a routerLink="/comentarios" class="link">Reseñas</a></button>
            <button class="but-list"><a routerLink="/contactos" class="link">Contactos</a></button>
            <a routerLink="/" class="link-login">Registrarse</a>
            <a routerLink="/" class="link-login">Login</a>
        </section>
    </nav>
</header>