<app-header></app-header> 
    <br>
    <section class="card-log">
        <div class="log-total">
            <div class="log-lado-izquierdo">
                <!-- <img src="assets/img/logo1.webp" alt="Juego" class="card-img"> -->
                <img src="assets/img/logo.jpg" alt="Juego" class="card-img">
            </div>
            <div class="log-lado-derecho">
                <h3 class="h3-title-log">Login</h3>
                <form (submit)="login()">
                    <div class="log-form-group">
                        <input type="text" [(ngModel)]="username" name="usuario_username" required>
                        <label for="usuario_username">Username</label>
                    </div>
            
                    <div class="log-form-group">
                        <input type="password" [(ngModel)]="password" name="usuario_password" required>
                        <label for="usuario_password">Contraseña</label>
                    </div>
                    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
                    <button type="submit">Login</button>
                    <button type="submit"  routerLink="/register">Register</button>
                    <p class="label-log">¿Aun no tienes cuenta? Registrate</p>
                </form>
                
            </div>
        </div>
    </section>
<app-footer></app-footer>


