<div [ngClass]="{'background': showBackground}">
    <app-header></app-header>
      <section class="sec-home">
        <div class="card">
          <img [src]="imagenSobreNosotros" alt="Juego" class="card-img">
          <div class="card-content">
            <h1 class="card-title">Sobre Nosotros</h1>
            <div class="card-description" [innerHTML]="descripcion"></div>
            <!-- <p class="card-description">Somos una tienda de videojuegos en línea dedicada a ofrecer los mejores títulos para todos los gustos y plataformas. En nuestro catálogo encontrarás juegos de acción, aventura, RPG, estrategia y mucho más.</p>
            <p class="card-description">🔹 <strong>Variedad de Juegos:</strong> Desde éxitos AAA hasta joyas indie.</p>
            <p class="card-description">🔹 <strong>Compras Seguras:</strong> Métodos de pago confiables y accesibles.</p>
            <p class="card-description">🔹 <strong>Actualizaciones Constantes:</strong> Siempre con los últimos lanzamientos.</p>
            <p class="card-description">🔹 <strong>Experiencia de Usuario:</strong> Navegación intuitiva y soporte al cliente.</p>
            <p class="card-description">📍 Explora, compra y disfruta de la mejor experiencia gamer con nosotros. 🚀🎮</p> -->
          </div>
        </div>
      </section>
    <app-footer></app-footer>
</div>

