<app-header></app-header> 
    <br>
    <div class="card">
        <section class="comentarios-container">
            <div class="comentarios-grid">
                <h2 class="h2-title-com">Comentarios</h2>
                <textarea [(ngModel)]="comentario" class="class-com-input"  name="comentario_descripcion" id="comentario_descripcion"  rows="8"  placeholder="Escribe tu comentario aquí..."></textarea>
                <div class="class-btn-comentario">
                    <button class="button-comentario" name="enviar" id="enviar">Enviar</button>
                </div>
                <div class="comentario-card" *ngFor="let comentario of comentarioService.comentarios  | paginate: { itemsPerPage: 4, currentPage: page}">
                    <img [src]="comentario.com_avatar" alt="Avatar de {{comentario.com_username}}" class="avatar">
                    <div class="comentario-content">
                        <h3 class="username">{{ comentario.com_username }}</h3>
                        <p class="descripcion">{{ comentario.com_descripcion }}</p>
                        <span class="fecha">{{ comentario.com_fecha | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                    </div>
                </div>
                <br>
                <!-- Controles de paginación -->
                <div class="class-pagination">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </section>
    </div>
    <br>
<app-footer></app-footer>


