.producto-card {
  width: 100%;
  min-height: 380px; /* Tamaño mínimo uniforme */
  max-height: 0px; /* Tamaño máximo uniforme */
  background: linear-gradient(to right, rgb(73, 20, 196), rgb(30, 139, 153)); /* Fondo oscuro tipo gamer */
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
  
.prod-card-content {
  padding: 0px;
}

.producto-card:hover {
  transform: scale(1.10); /* Efecto de zoom al pasar el mouse */
}

.card-img {
  width: 355px;
  height: 240px;
  object-fit: fill;
}

.prod-card-title {
  font-weight: bold;
  font-size: 21px;
  /* margin-bottom: 2px; */
  margin-top: 4px;
  color: #facc15; /* Amarillo gamer */
  /* text-align: center; */
}

.prod-card-description {
  font-size: 15px;
  /* margin-bottom: 10px; */
  margin-bottom: 15px;
  color: #ccc; /* Texto suave */
  /* text-align: center; */
  
}

/* .prod-card-genero {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0px;
  // background: #0011ff; 
  display: inline-block;
} */

.bt-prod-card {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  background: linear-gradient(to right, rgb(48, 6, 148), rgb(17, 63, 148));
  display: inline-block;
  border-radius: 5px;
  color: white;
  border: none;
  margin-bottom: 9px;
  /* text-align: center; */
}

.bt-prod-card:hover,
.bt-prod-card:focus {
  box-shadow: 0 1.5em 1.5em -0.4em var(--hover);
  transform: translateY(-0.45em);
}

.div-buttons {
  /* text-align: center; */
  gap: 10%;
}

.bt-prod-card-edit {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  background: linear-gradient(to right, rgb(6, 79, 148), rgb(17, 148, 28));
  display: inline-block;
  border-radius: 5px;
  color: white;
  border: none;
  margin-bottom: 9px;
  margin-right: 9px;

}

.bt-prod-card-edit:hover,
.bt-prod-card-edit:focus {
  box-shadow: 0 1.5em 1.5em -0.4em var(--hover);
  transform: translateY(-0.45em);
}



.bt-prod-card-delete {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  background: linear-gradient(to right, rgb(148, 6, 6), rgb(148, 96, 17));
  display: inline-block;
  border-radius: 5px;
  color: white;
  border: none;
  margin-bottom: 9px;
  margin-right: 9px;
 
}

.bt-prod-card-delete:hover,
.bt-prod-card-delete:focus {
  box-shadow: 0 1.5em 1.5em -0.4em var(--hover);
  transform: translateY(-0.45em);
}

