<article class="producto-card">
    <!-- <img src="assets/img/logo.jpg" alt="Imagen del Juego" class="card-img"> -->
    <img [src]="producto.imagen" [alt]="producto.titulo" class="card-img">
    <div class="prod-card-content">
      <div>
        <p class="prod-card-title">{{producto.titulo}}</p>
      </div>
      <div>
        <p class="prod-card-description">{{producto.descripcion}}</p>
      </div>
      <!-- <div>
          <p class="prod-card-genero">{{producto.genero}}</p>
      </div> -->
      <button class="bt-prod-card">Ver mas</button>
    </div>
</article>
