/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}




